@@ if (newContentDisabled === true) {

<article class="c-game c-game--new is-disabled">
    <div class="c-game__link">
        <div class="c-game__content">
            <span class="c-game__plus">+</span>
            <h2 class="c-game__title">Add new content</h2>
        </div>
    </div>
</article>

}

@@ if (newContentDisabled === false) {

<article class="c-game c-game--new">
    <a class="c-game__link" href="content_new.html">
        <div class="c-game__content">
            <span class="c-game__plus">+</span>
            <h2 class="c-game__title">Add new content</h2>
        </div>
    </a>
</article>

}
