.o-page {
    padding-top: $global-spacing-unit;
    padding-bottom: $global-spacing-unit * 2;

    @include mq($from: tablet) {
        padding-top: $global-spacing-unit * 2;
    }

    @include mq($from: wide) {
        padding-top: $global-spacing-unit * 3;
        padding-bottom: $global-spacing-unit * 3;
    }
}
