.o-container {
    padding-right: $global-spacing-unit-small;
    padding-left: $global-spacing-unit-small;

    @include mq($from: phablet) {
        padding-right: $global-spacing-unit;
        padding-left: $global-spacing-unit;
    }
}

.o-container--max-small {
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.o-container--max-big {
    width: 100%;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
