body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $global-font-body;
    font-weight: 400;
    background-color: #fff;
    color: $color-dark;
    // -webkit-font-smoothing: antialiased;
    // -moz-font-smoothing: antialiased;
    // -o-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}
