.c-tabs {
    display: flex;
    padding: 0;
    border-bottom: 2px solid $color-grey-light;
    margin: 0 0 $global-spacing-unit;
    list-style: none;
}

.c-tabs__item {
    margin-left: $global-spacing-unit-small;

    @include mq($from: tablet) {
        margin-left: $global-spacing-unit;
    }
}

.c-tabs__link {
    position: relative;
    display: block;
    padding: $global-spacing-unit-tiny $global-spacing-unit-small;
    border-top: 2px solid $color-grey-light;
    border-right: 2px solid $color-grey-light;
    border-left: 2px solid $color-grey-light;
    border-top-right-radius: $global-radius;
    border-top-left-radius: $global-radius;
    color: $color-dark;
    text-decoration: none;

    &.is-active {
        color: $color-primary;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: background-color $global-transition-duration ease-in-out;
        }
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #eee;

        &:after {
            background-color: #eee;
        }
    }

    @include mq($from: tablet) {
        padding-right: $global-spacing-unit;
        padding-left: $global-spacing-unit;
    }
}
