.c-header {
    padding-top: $global-spacing-unit-small;
    padding-bottom: $global-spacing-unit-small;
    color: #fff;
    background: $color-primary;
}

.c-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-header__logo {
    @include font-size($font-size-h1, $global-line-height-headings);
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;

    &:hover,
    &:active {
        text-decoration: none;
        color: #fff;
        opacity: 0.8;
    }

    @include mq($until: desktop) {
        font-size: $font-size-h1 * 0.7;
    }
}

.c-header__form {
    display: none;

    @include mq($from: desktop) {
        display: block;

        > * {
            margin-left: $global-spacing-unit-tiny;
        }
    }
}
