.c-file {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 250px;
    height: 250px;
    padding: 1rem;
    border: 2px solid $color-grey;
    color: $color-dark;
    background-color: #ddd;
    border-radius: $global-radius;
    cursor: pointer;
    transition: background-color $global-transition-duration ease-in-out;

    > * {
        flex-basis: 100%;
    }

    > p:last-child {
        margin-bottom: 0;
    }

    input {
        position: absolute;
        width: 100%;
        margin: 0;
        filter: alpha(opacity=0);
        opacity: 0;
    }

    &:hover,
    &:focus,
    &:active {
        border-color: $color-dark;
        background-color: #eee;
    }

}

.c-file--gallery {
    width: auto;
    height: auto;
    min-height: 150px;
}
