/* ==========================================================================
   #BUTTONS
   ========================================================================== */


/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */


/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
    display: inline-block;
    /* [1] */
    vertical-align: middle;
    /* [2] */
    font: inherit;
    /* [3] */
    text-align: center;
    /* [4] */
    margin: 0;
    /* [4] */
    cursor: pointer;
    /* [5] */
    padding: $global-spacing-unit-tiny $global-spacing-unit;
    transition: $global-transition;
    border: 0;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.c-btn__chevron {
    font-size: 1.3em;
}

.c-btn--block {
    display: block;
    width: 100%;
}




/* Style variants
   ========================================================================== */

.c-btn--primary {
    background-color: $color-primary;
    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        /* [4] */
        color: #fff;
    }
    &:hover,
    &:focus {
        background-color: $color-dark;
    }
}

.c-btn--secondary {
    background-color: $color-secondary;
    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: #fff;
    }
    &:hover,
    &:focus {
        background-color: $color-dark;
    }
}

.c-btn--tertiary {
    background-color: #fff;
    color: $color-dark;
    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $color-dark;
    }
    &:hover,
    &:focus {
        color: #000;
    }
}




/* Size variants
   ========================================================================== */

.c-btn--small {
    padding: $global-spacing-unit-tiny $global-spacing-unit-small;
}

.c-btn--large {
    padding: $global-spacing-unit $global-spacing-unit-large;
}
