.c-dialog {
    width: 450px;
    max-width: 100%;
    padding: $global-spacing-unit;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ccc;
    border-radius: $global-radius;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#000, 0.3);

    p {
        margin-bottom: $global-spacing-unit-small;

        &:last-of-type {
            margin-bottom: $global-spacing-unit * 2;
        }
    }
}

.c-dialog__btns {
    display: flex;
    justify-content: space-between;
}
