.c-footer {
    padding: $global-spacing-unit;
    font-size: $global-font-size * 0.9;
    text-align: center;
    color: #fff;
    background-color: $color-dark;

    a {
        color: #fff;

        &:hover {
            color: $color-primary;
        }
    }

    * + * {
        margin-top: 1em;
    }
}

.c-footer__github-link {
    svg {
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        margin-top: -0.2em;
        margin-left: 0.5em;
        vertical-align: middle;
        fill: currentColor;
    }
}
