.c-header {
    position: relative;
    z-index: 999;
    padding-top: $global-spacing-unit-small;
    padding-bottom: $global-spacing-unit-small;
    color: #fff;
    background: $color-primary;
}

.c-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-header__logo {
    @include font-size($font-size-h1 * 0.7, $global-line-height-headings);

    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;

    &:hover,
    &:active {
        text-decoration: none;
        color: #fff;
        opacity: 0.8;
    }

    @include mq($from: desktop) {
        @include font-size($font-size-h1, $global-line-height-headings);
    }
}

.c-header__logo__icon {
        font-family: sans-serif;
        margin: 0.2em;
}

.c-header__logo__icon {
    font-family: sans-serif;
    margin: 0.2em;
}

.c-header__form {
    display: none;

    @include mq($from: desktop) {
        display: block;

        > * {
            margin-left: $global-spacing-unit-tiny;
        }

        input {
            margin-bottom: 0;
        }
    }
}
