.c-input {
    display: block;
    width: 100%;
    padding: $global-spacing-unit-xxs $global-spacing-unit-small;
    border: 2px solid #999;
    border-radius: $global-radius;
    font: inherit;
    line-height: $global-line-height;
    font-weight: 400;
    color: $color-dark;
    background-color: #fff;
    transition: color $global-transition-duration, border-color $global-transition-duration, background-color $global-transition-duration;

    &:focus {
        outline: 0;
        border-color: $color-dark;
        background-color: #f5f5f5;
    }
}

.c-input--inline-block {
    display: inline-block;
    width: auto;
}
