.c-game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-grey;
    border-radius: $global-radius;
    margin-bottom: $global-spacing-unit;
    transition: border-color $global-transition-duration ease-in-out, background-color $global-transition-duration ease-in-out;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        opacity: 0.7;
        transition: opacity $global-transition-duration ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
        border-color: $color-dark;

        &:before {
            opacity: 0.5;
        }
    }
}

.c-game--new {
    align-items: stretch;
    width: 100%;
    min-height: 150px;
    background-color: #ddd;

    .c-game__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &:before {
        content: none;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: #eee;
    }
}

.c-game__img-wrap {
    overflow: hidden;
}

.c-game__img {
    position: relative;
    z-index: -1;
    display: block;
    width: 100%;
    height: auto;
    border-radius: $global-radius;
    transition: transform $global-transition-duration ease-in-out;
    will-change: transform;

    .c-game:hover &,
    .c-game:focus &,
    .c-game:active & {
        transform: scale(1.1);
    }
}

.c-game__content {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-right: $global-spacing-unit-small;
    padding-left: $global-spacing-unit-small;
}

.c-game__title {
    @include font-size($font-size-h2 * 0.8, $global-line-height-headings);

    margin-bottom: $global-spacing-unit-small;
    color: $color-dark;

    @include mq($from: tablet) {
        @include font-size($font-size-h2 * 0.7, $global-line-height-headings);
    }

    @include mq($from: wide) {
        @include font-size($font-size-h2, $global-line-height-headings);
    }
}

.c-game__btn {
    font-size: 0.8rem;

    @include mq($from: tablet) {
        font-size: 0.9rem;
    }
}

.c-game__link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    text-decoration: none;

    .c-game.is-disabled & {
        cursor: default;
        cursor: no-drop;
        cursor: not-allowed;
    }
}

.c-game__plus {
    display: inline-block;
    font-size: 2rem;
    color: $color-primary;
    transition: transform $global-transition-duration ease-in-out;

    .c-game__link:hover &,
    .c-game__link:focus &,
    .c-game__link:active & {
        transform: scale(1.2);
    }
}
