
.c-nav {
    min-height: 100%;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    li {
        position: relative;

        &:not(:last-child) {
            margin-right: $global-spacing-unit;
        }
    }
}

.c-nav__item {
    position: relative;
    display: inline-block;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    transition: $global-transition;

    &:hover,
    &:active,
    &:focus {
        color: #fff;
    }
}

.c-nav__item__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    fill: currentColor;
    transition: $global-transition;

    .c-nav__item:hover &,
    .c-nav__item:active &,
    .c-nav__item:focus & {
        opacity: 0.8;
    }

    @include mq($from: tablet) {
        width: 20px;
        height: 20px;
    }

    @include mq($from: desktop) {
        width: 24px;
        height: 24px;
    }
}

.c-nav__item__badge {
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: 0.7rem;
    line-height: 1.1rem;
    text-align: center;
    background-color: $color-secondary;
    transition: $global-transition;

    .c-nav__item:hover &,
    .c-nav__item:active &,
    .c-nav__item:focus & {
        background-color: $color-dark;
    }
}

.c-nav__tooltip {
    position: absolute;
    top: calc(100% + 5px);
    right: -20px;
    display: none;
    width: 240px;
    padding: $global-spacing-unit-tiny;
    border-radius: $global-radius;
    font-size: 0.8rem;
    color: $color-dark;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(#000, 0.5);

    &:after {
        content: '';
        position: absolute;
        bottom: calc(100% - 5px);
        right: 27px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        transform: rotate(45deg);

        @include mq($from: xwide) {
            right: auto;
            left: calc(50% - 5px);
        }
    }

    .c-nav__item.is-active + & {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: block;
        width: 100%;
        padding: $global-spacing-unit-tiny;
        text-align: left;
    }

    a {
        display: block;
        text-decoration: none;
        color: $color-secondary;

        &:not(:last-child) {
            margin-bottom: $global-spacing-unit-tiny;
        }

        &:hover,
        &:active,
        &:focus {
            color: $color-dark;
            text-decoration: underline;
        }
    }

    @include mq($from: phablet) {
        width: 280px;
        font-size: 0.9rem;
    }

    @include mq($from: xwide) {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
